.User__info-container-section {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  padding: 2.2rem 0;
}

.User__info-group h4 {
  color: var(--color-primary-400);
}

.User__info-group p {
  font-size: 1.2rem;
}

@media screen and (min-width: 760px) {
  .User {
    background-color: var(--color-neutral-600);
    border-radius: 0.5rem;
    margin-top: 1rem;
    padding: 2rem 3rem 3rem 3rem;
  }
}
