.Form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  width: 100%;
  justify-content: center;
  min-height: calc(100vh - 10rem);
}

.Form h1 {
  color: #fff;
  font-weight: 200;
  font-size: 2.8rem;
}

.Form form {
  display: flex;
  width: 100%;
  max-width: 22rem;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  padding: 2rem;
  border-radius: 4px;
  text-align: left;
}

.Form label {
  margin-bottom: 0.4rem;
  color: var(--color-neutral-500);
  font-weight: 500;
}

.Form input {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
  border: none;
  border-radius: 3px;
  border-bottom: 3px solid var(--color-primary-400);
  margin-bottom: 0.6rem;
  text-align: left;
  background-color: var(--color-primary-100);
}

.Form input:focus {
  outline: var(--outline-primary-2);
  border-color: transparent;
  border-radius: 3px;
}
.Form input:disabled {
  color: var(--color-neutral-100);
}

.Form button {
  font-size: 1rem;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 200px;
  color: #fff;
  align-self: center;
  background-color: var(--color-primary-400);
  transition: all 0.3s;
  margin-top: 1rem;
}

.Form button:hover {
  background-color: var(--color-primary-200);
}

.error {
  color: var(--color-error-400);
  padding: 0;
  width: 100%;
  font-size: 0.9rem;
}
