.Navbar {
  display: flex;
  justify-content: center;
  background-color: var(--color-neutral-600);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 1.2rem 1rem;
  width: 100%;
  z-index: 1000;
}

.Navbar__container {
  width: 100%;
}

.Navbar__container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  position: relative;
}

.Navbar__constants {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Navbar__logo {
  height: 2.4em;
}

a.Navbar__logo-link {
  display: flex;
}

.Navbar__weather {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.Navbar__weather-condition {
  display: flex;
  align-items: center;
}
.Navbar__weather-icon {
  width: 2.4rem;
}

.Navbar__menu-icon {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.Navbar__menu-icon div {
  background-color: var(--color-neutral-200);
  transition: all 0.2s ease-out;
  height: 3px;
  width: 2rem;
  z-index: 1000;
}

.Navbar__menu-icon.active > div:first-child {
  transform: translateX(0px) translateY(8px) rotate(135deg);
}

.Navbar__menu-icon.active > div:nth-child(2) {
  opacity: 0;
}

.Navbar__menu-icon.active > div:last-child {
  transform: translateX(0px) translateY(-8px) rotate(-135deg);
}

.Navbar__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 76.77px;
  right: -100vw;
  padding: 2rem;
  background-color: var(--color-primary-400);
  border-radius: 0 0 0 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  width: 100%;
  max-width: 16rem;
}

.Navbar__menu.active {
  right: 0;
}

.Navbar__links {
  font-size: 1.2rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  white-space: nowrap;
}

.Navbar__links a {
  text-decoration: none;
  color: var(--color-neutral-100);
  position: relative;
  transition: all 0.3s ease-in-out;
}

.Navbar__links a::after {
  content: "";
  opacity: 0;
  margin: 0 auto;
  background-color: var(--color-neutral-700);
  bottom: -0.6rem;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  height: 3px;
  width: 0;
}

.Navbar__links a.active {
  color: var(--color-neutral-700);
}

.Navbar__links a.active::after {
  opacity: 1;
  position: absolute;
  width: 100%;
}

.Navbar__links a:hover {
  color: var(--color-neutral-700);
}

.Navbar__links a:hover::after {
  opacity: 1;
  position: absolute;
  transform: translateX(0);
  width: 100%;
}

@media screen and (min-width: 800px) {
  .Navbar {
    padding: 1.2rem 3rem;
  }

  .Navbar__menu {
    max-width: 20rem;
  }
}
