.Navbar {
  background-color: var(--color-neutral-600);
  padding: 1.2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.Navbar__container {
  width: 100%;
  max-width: 1200px;
}

.Navbar__container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navbar__logo {
  height: 2.2rem;
}

a.Navbar__logo-link {
  display: flex;
}

.Navbar__links {
  display: flex;
  gap: 1.5rem;
}

.Navbar__links a {
  text-decoration: none;
  color: var(--color-neutral-200);
  position: relative;
}

.Navbar__links a::after {
  content: "";
  height: 3px;
  width: 0;
  opacity: 0;
  margin: 0 auto;
  background-color: var(--color-primary-400);
  bottom: -0.6rem;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}

.Navbar__links a.active {
  color: var(--color-neutral-100);
}

.Navbar__links a.active::after {
  width: 100%;
  opacity: 1;
  position: absolute;
}

.Navbar__links a:hover {
  color: var(--color-neutral-100);
}

.Navbar__links a:hover::after {
  width: 100%;
  transform: translateX(0);
  opacity: 1;
  position: absolute;
}
