.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem;
  background-color: #282c34;
  color: rgba(255, 255, 255, 0.6);
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
}

.Plant {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  justify-content: flex-start;
  width: 100%;
  text-align: center;
  /* background-color: #3d4553; */
  gap: 1rem;
  border-radius: 3px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */

  border-radius: 50%;
}

.Plant h3 {
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}

.Plant-img {
  object-fit: cover;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  transform: translateY(0);
  transition: all 0.2s ease-in-out;
}

.Plant-img:hover {
  filter: brightness(1.1);
  transform: translateY(-0.5rem) scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}
.Plant:hover h3 {
  color: #fff;
  transform: translateY(-0.3rem) scale(1.04);
}
